
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0cm;
    background-color:#ffaed6;
    flex-direction: column;
    font-family:cursive;
}

.herro {
    text-align: center;
}

/* span:hover {
    display: none
  }
  
  span:hover:after {
    content: "..don't even think about it.. ಠ_ಠ";
  } */

h1 {
    color:black;
    font-size: 15em;
}

.buttons {
    margin-top: 20px;
  }
  
.yes-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10em;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
    font-family:cursive;
  }

.no-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10em;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
    font-family:cursive
  }

  .photo1 img {
    width:100em;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
